svg path {
   stroke-dasharray: var(--path-length);
   stroke-dashoffset: var(--path-length);
   fill: transparent;
   stroke: #d1cdc2;
}

svg path.animate {
   stroke-dashoffset: 0;
   fill: #d1cdc2;
   transition: stroke-dashoffset 4.5s cubic-bezier(0.4, 0, 0.2, 1), fill 2s cubic-bezier(0.4, 0, 0.2, 1) 3s;
}

@keyframes draw-path {
   to {
      stroke-dashoffset: 0;
      fill: #d1cdc2;
   }
}